*{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
}

header{
    display:block;
    margin:auto;
    padding: 10px;
}

figure{
    display:block;
    margin:auto;
    padding: 10px;
}

figure img{
    border-radius: 15%;
}

iframe{
    display:block;
    margin:auto;
    padding: 10px;
}
