nav ul {
    list-style-type: none;
    background-color:cadetblue;
    overflow: hidden;
    display: flex;
    margin: 0px;
    justify-content: flex-end;
}

nav ul li{
    float: left;
}

nav ul li a{
    text-decoration: none;
    padding: 10px;
}

a:hover{
    background-color: brown;
}